{% extends '10-hbnb_filters.html' %}
{% block content %}
<section class="places">
    <h1>Places</h1>
    {% for place in places.values() | sort(attribute="name") %}
        <article>
            <div class="headline">
                <h2>{{ place.name }}</h2>
                <div class="price_by_night">${{ place.price_by_night }}</div>
            </div>
            <div class="information">
                <div class="max_guest">
                    <div class="guest_icon"></div>
                    <p>{{ place.max_guest }} Guest</p>
                </div>
                <div class="number_rooms">
                    <div class="bed_icon"></div>
                    <p>{{ place.number_rooms}} Room</p>
                </div>
                <div class="number_bathrooms">
                    <div class="bath_icon"></div>
                    <p>{{ place.number_bathrooms }} Bathroom</p>
                </div>
            </div>
            <div class="user">
                {% for user in users.values() %}
                    {% if user.id == place.user_id %}
                        <b>Owner</b>: {{ user.first_name }} {{ user.last_name }}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="description">
                {% autoescape false %}
                    {{ place.description }}
                {% endautoescape %}
            </div>
        </article>
    {% endfor %}
</section>
{% endblock content %}