<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        <H1>States</H1>
        <UL>
            {% for v in states.values() | sort(attribute="name") %}
                <LI>{{ v.id }}: <B>{{ v.name }}</B>
                    <UL>
                        {% for c in cities.values() | sort(attribute="name") %}
                            {% if c.state_id == v.id %}
                                <LI>{{ c.id }}: <B>{{ c.name }}</B></LI>
                            {% endif %}
                        {% endfor %}
                    </UL>
                </LI>
            {% endfor %}
        </UL>
    </BODY>
</HTML>
